.react-renderer {
  z-index: 1000;
  pointer-events: auto;
}

/* Dropdown menu */
.dropdown-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  padding: 0.4rem;
  overflow: auto;
  background: var(--color-white);
  border: 1px solid var(--color-gray-100);
  border-radius: 0.7rem;
  box-shadow: var(--shadow-md);
  /* min-width: 150px; */

  button {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    width: 100%;
    text-align: left;
    background-color: transparent;

    &:hover,
    &:hover.is-selected {
      background-color: var(--color-gray-200);

      @media (prefers-color-scheme: dark) {
        color: var(--color-gray-100);
        background-color: var(--color-gray-700);
      }
    }

    &.is-selected {
      background-color: var(--color-gray-300);

      @media (prefers-color-scheme: dark) {
        color: var(--color-gray-100);
        background-color: var(--color-gray-700);
      }
    }

    img {
      width: 1em;
      height: 1em;
    }
  }
}

.tiptap {
  padding: 0.25rem 0.75rem;
  word-break: break-all;
  overflow-wrap: break-word;
  border: 1px solid var(--color-gray-200);
  border-radius: 0.5rem;
}

.tiptap.tiptap-plain-text {
  white-space: pre-wrap;
}

.tiptap p.is-editor-empty:first-child::before {
  float: left;
  height: 0;
  font-size: 14px;
  color: var(--color-gray-300);
  pointer-events: none;
  content: attr(data-placeholder);
}
