:root {
  .react-flow {
    --xy-handle-border-color-default: #333;
    --xy-handle-background-color-default: #fff;
  }
}

.react-flow__handle {
  width: 12px;
  height: 12px;
}

.react-flow__controls.horizontal .react-flow__controls-button {
  border: none;
}
